# Virtual Environment
venv/
ENV/
env/
.env

# Python Bytecode
__pycache__/
*.py[cod]
*$py.class

# Data & Database
*.sqlite3
*.csv
*.json
data/

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo

# OS related
.DS_Store
Thumbs.db

# Selenium Log
geckodriver.log
ghostdriver.log